 /* font-family: 'Merriweather',
serif; */
body {
font-family: 'Montserrat', sans-serif;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3{
  margin: 0;
  padding: 0;
}

.visually__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* .container {
  width: 1440px;
  margin: 0 auto;
} */

.hero__image{
  background-image: url(../images/hero-image-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube{
    position: absolute;
    top: 40px;
    left: 122px;
}

.type__user{
    position: absolute;
    width: 86px;
    height: 53px;
    right: 122px;
    top: 30px;
    background-color: #fff;
    border-radius: 32px;
}

.user__select{
    padding-top: 10px;
    margin-left: auto;
    padding-right: 14px;
}

.select__group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select__icon {
  padding-top: 14px;
  padding-left: 14px;
  width: 16px;
  height: 16px;
}

.hero__advertisment{
  position: absolute;
  padding-bottom: 128px;
  top: 384px;
  left: 63px;
  max-width: 741px;
  max-height: 537px;
  background-color: #fff;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.hero__advertisment__title{
  padding-top: 96px;
  padding-left: 64px;
font-family: 'Merriweather';
font-weight: 700;
font-size: 39px;
line-height: 1.25;
color: #000000;
}

.hero__advertisment__title span {
  color: #F78065;
}

.hero__advertisment__text{
  padding-top: 29px;
  padding-left: 64px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1,2;
   color: #000000;
   opacity: 0.6;
}

.hero__advertisment__button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  margin-left: 62px;
  margin-bottom: 75px;
  padding: 21px 77px;
  background-color: #F78065;
  font-weight: 700;
  font-size: 18px;
  line-height: 1,2;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.globe__icon{
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.features{
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #fff;
}

.features__list{
  display: flex;
  margin-top: 369px;
  margin-left: 119px;
}

.features__item:not(:last-child){
  max-width: 386px;
  margin-right: 41px;
}

.features__title{
  padding-top: 84px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 1,25;
  color: #000000;
}
.features__decription{
  padding-top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,25;
  color: rgba(0, 0, 0, 0.5);
}

.features__call{
  padding-top: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #F78065;
}

.priorities__title{
  margin-left: 100px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.priority__list{
  display: flex;
  margin-top: 108px;
  margin-left: 100px;
  margin-bottom: 263px;
}

.priority__item:not(:last-child){
  width: 275px;
  margin-right: 46px;
}

.priority__title{
  padding-bottom: 31px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
}

.priority__description{
  margin-bottom: 16px;
  height: 72px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.priority__link{
  display: flex;
  justify-content: baseline;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #F78065;
}

.priority__icon{
  padding-bottom: 64px;
  width: 32px;
  height: 32px;
}


.attention-call{
  margin-left: 100px;
  max-width: 325px;
}

.attention-call__title{
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 36px;
  line-height: 1,25; 
}

.attention-call__text{
  margin-top: 32px;
  font-size: 18px;
  line-height: 1.22;
  opacity: 0.5;
}

.managers{
  display: flex;
  padding-bottom: 232px;
}

.managers-btn{
  margin-left: 0;
}

.members-list{
  margin-left: 128px;
  display: flex;
}

.members-list__item:not(:last-child){
  margin-right: 49px;
}

.members-list__title{
  margin-top: 24px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.members-list__location{
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.21;
  color: #3F3D56;
}

.members-list__link{
  padding: 11px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #F78065;
}

.advantages{
  padding-bottom: 128px;
}

.advantages__heading{
  margin-left: 100px;
  margin-bottom: 108px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.advantages__list{
  display: flex;
  flex-grow: 1;
  margin-left: 100px;
}

.advantages__item{
  max-width: 386px;
  margin-right: 41px;
}

.advantages__item:last-child{
  margin-right: 0;
}

.advantages__icon{
  width: 32px;
  height: 32px;
}

.advantages__title{
  margin-bottom: 52px;
  margin-top: 64px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
}

.advantages__description{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71; 
  opacity: 0.5;
}

.footer{
  padding-top: 96px;
  background: #F7F7F7;
}

.footer__wrap{
  display: flex;
}

.footer__heading{
  margin-left: 100px;
  max-width: 304px;
}

.footer__heading h3{
  padding-bottom: 16px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 1,25;
}

.footer__heading h2{
  padding-bottom: 85px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 48px;
  line-height: 1,25;
}

.footer__list{
  display: flex;
  margin-left: 100px;
}

.footer__item{
  display: flex;
  margin-left: 100px;
  flex-direction: column;
}


.footer__item--title{
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
}

.footer__link{
  padding-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.footer__nav{
  display: flex;
  align-items: baseline;
  border-top: 1px solid #000000;
  padding-bottom: 63px;
}

.rights p{
  font-size: 14px;
  line-height: 1.21;
}

.rights{
  padding-top: 28px;
  margin-left: 100px;
}

.nav__list{
  display: flex;
  margin-left: auto;
}

.nav__link{
  padding-top: 28px;
  padding-right: 48px;
  padding-bottom: 63px;
  font-size: 14px;
  line-height: 1.21;
  text-align: right;
  color: #000000;
}
